body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color:cornflowerblue;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color:cadetblue;
}

.gallery {
    margin: 20px;
}

.gallery .picture {
    border: 5px solid #fff;
}